.comments-container{
    margin: auto;
    /* width: 50%; */
}

.comments-wrapper{
    margin: auto;
    /* width: 80%; */
    margin-bottom: 5rem;
}

/* .make-a-comment{
    display: flex;
    position: fixed;
    width: 80%;
    bottom: 1%;
} */

.comment-input{
    display: flex;
    /* position: fixed; */
    /* width: 100%; */
    bottom: 1%;
    /* width: 90%; */
    /* width: 100vw; */
    height: 3.5em;
    border: 2px solid #4C506D;
    border-radius: 10px;
}

.comment-input input {
    /* width: 100%;
    height: 100%; */
    padding: 0 10px;

    border: none;
    border-radius: 10px;

}

.send-comment-icon{
    cursor: pointer;
    font-size: 1.5em;
    margin: auto;
}

.send-comment-icon button{
    background-color: #4EA9BE;
    padding: 7px;
    border-radius: 0 7px 7px 0;
    /* height: 3.5em; */

}

.send-comment-icon button:active{
    border: none;
}

@media only screen and (max-width: 700px){
    .comments-container{
        margin: auto;
        width: 95%;
    }
    
    .comments-wrapper{
        margin: auto;
        width: 90%;
        margin-bottom: 2rem;
    }

}