.my-footer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1.5em  3em;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 1;
    /* height: 100px; */
    width: 100%;
    background-color: white;
}

.social-links{
    margin-bottom: 1rem;
}

.social-links a{
    margin-right: 2em;
}