.posts-container{
    background-color: #4EA9BE;
    /* height: 100vh; */
    padding-bottom: 3rem;
}


.posts-wrapper{
    margin: auto;
    width: 70%;
   
}

.make-post{
    margin: auto;
    /* width: 30%; */
    margin-bottom: 2em;
    text-align: center;
}

.make-post p{
    color: white;
}

.make-post .icon{
    font-size: 3em;
    cursor: pointer;
}

.post-owners-div{
    margin-bottom: 1em;
    padding: 1em 2em;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.flexed-post-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.name-time{
    /* display: flex; */
    margin-bottom: 1em;
    /* width: 50%; */
}

.name-time span{
    font-size: 0.9em;
    margin-right: 1em;
}

.name-time span:nth-child(2){
    color: #4EA9BE;
    font-size: 1.1em;
}

.del-edit{
    display: flex;
}

.del-edit p{
    cursor: pointer;
    margin-left: 1rem;
    color: #959595;
}

.img-placeholder{
    width: 10%;
}

.flexed-name-div{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 90%;
}

.img-placeholder img{
    width: 5em;
    height: 4em;
}

.user-post{
}

.post p:first-child{
    font-size: 1.05em;
    font-weight: 600;
    margin-bottom: 0.7em;
}

.gif{
    margin-top: 1rem;
}

.gif img{
    width: 20em;
}

.post span{
    font-size: 0.7em;
    font-style: italic;
    font-weight: 100;

}

.rs-badge-independent, .rs-badge-content{
    background-color: #68E1FD;
    font-size: 0.6em;
    border-radius: 50%;
}



.post-comment{
    margin-top: 1em;
    font-size: 1.3em;
}

.post-comment p{
    cursor: pointer;
    color: #959595;

}

p + p{
    margin: 0;
}

@media only screen and (max-width: 700px){
    .posts-container{
        background-color: #4EA9BE;
        /* height: 100vh; */
        padding-bottom: 1rem;
    }
    .posts-wrapper{
        margin: auto;
        width: 90%;
        padding: 1em;
    }
    .img-placeholder{
        width: 20%;
    }
    
    .flexed-name-div{
        width: 80%;

    }

    .gif img{
        width: 15em;
    }

    .img-placeholder img{
        width: 3.5em;
    }

    .name-time{
        flex-direction: column;
        /* width: 50%; */
    }

    .name-time p:nth-child(2){
        color: #959595;
        font-size: 0.8em;
        margin-left: 0;
    }
}